@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.App-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    color: #f9f9f9;
    padding: 10px 0;
    font-family: 'Roboto', sans-serif;

    .App-logo {
      margin-top: 5px;
      height: 60px;
    }
}