.order-by {
  align-self: flex-start;
  margin-left: 25px;

  select {
    padding: 5px 0 5px 5px;
    border-radius: 4px;
    color: #414856;
    outline: none;
    font-family: "Roboto", sans-serif;
  }
}
